<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.endline_v1">
    <!-- Related Internet Permission -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Related Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" /> <!-- Related Storage Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_endline"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_endline_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EndLine_v1.NoActionBar">
        <activity android:name=".ItemInfo" android:theme="@style/Theme.EndLine_v1" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".DirectlyAdd" android:parentActivityName=".MainActivity" android:theme="@style/Theme.EndLine_v1" />
        <activity
            android:name=".EnterNumber"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.EndLine_v1" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.EndLine_v1.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.EndLine_v1" />
        <activity
            android:name=".LoadActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EndLine_v1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanBarCode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.EndLine_v1" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.EndLine_v1.NoActionBar" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <service android:name=".FirebaseInstanceServices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseMessagingServices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_v1" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>